.body-backgroud{
    background-image:url("../image/default-background.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
}
.carousel-inner > .item{

    overflow-y: hidden;
}
.introduce-thumbnail{
    height: 250px;
    background-color: #2c2d2d;
    border-color: #2c2d2d;
    padding-top: 15px;
}
.introduce-thumbnail > img{
    height: 150px;
    width: 150px;
}
a.navbar-brand.default-color,.default-color{
    color: #ff7519;
}
.navbar-default{
    background-color: #2c2d2d;
    border-color: #000000;
}
.navbar-default .navbar-text{
    padding-right: 20px;
}
.navbar-default{
    height: 80px;
    padding-top: 16px;
}
.page-title{
    margin: 0 auto;
    font-size: 28px;
    text-align: center;
    letter-spacing: 10px;
    margin-top: 100px;
    margin-bottom: 10px;
    color: #ff7519;
}
.page-title-introduce{
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
    letter-spacing: 5px;
    margin-top: 0px;
    margin-bottom: 65px;
    color: #9d9d9d;
}
.dark-backgroud-color{
    padding: 0px;
    margin: 0px;
    background-color: #2c2d2d;
}
.light-backgroud-color{
    background-color: #ffffff;
}
.page-panel{
    height: 860px;
    margin: 0px;
    padding: 0px;
}
.page-target{
    padding-top: 0px;
}
.page-font{
    margin: 0 auto;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing:10px
}

#background-video{
    position: fixed;
    right:0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -9999;
    /*灰色调*/
    /*-webkit-filter:grayscale(100%)*/

}

.introduce-content{

    height: 200px;
}
.introduce-title{
    margin: 0 auto;
    font-size: 18px;
    padding-top: 15px;
    text-align: center;
    letter-spacing: 1px;
    color: #ff7519;
}
.introduce-describe{
    margin: 0 auto;
    font-size: 14px;
    padding-top: 5px;
    text-align: center;
    letter-spacing: 1px;
    color: #ff7519;
}

a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active{
    border-color:  #ff7519;
}

.student-introduce-thumbnail{
    border: 0px;
}
.student-introduce-content{
    height: 100px;
    background-color: rgb(113, 93, 93);
    color: #ffffff;
}
.student-introduce-title{
    margin: 0 auto;
    font-size: 22px;
    text-align: center;
    letter-spacing: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-top: 10px;
    color: #ffffff;
}
.student-introduce-describe{
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #ffffff;
}

.thumbnail >img.student-introduce-img{
    height: 300px;
}

.panel-default > .panel-heading{
    background-color:#2c2d2d;
    border: 0;
    color: #ffffff;
}
.panel-default{
    border: 0;
}
.panel-body{
    color: #9d9d9d;
    background-color: #2c2d2d;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body{
    border-top-color: #2c2d2d;
}
h4.panel-title > a{
    color: #ffffff;
}

.navbar-collapse > .navbar-right > a.navbar-link{
    color:#777;
}
a{
    text-decoration:none
}

.thumbnail .caption{
    text-align: center;
    color:#5a5a5a;
}

.dropdown-menu > li > a:hover{
    background-color: #979797;
}

a:visited {color:#ff7519;text-decoration:none}
a:hover   {color:#ff7519;text-decoration:none}
a:active  {color:#ff7519;text-decoration:none}