.bar-img{
    width: 100%;
    height: auto;
}

.control-box span{
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 30px;
}
.control-box span.play_bt{
    font-size: 35px;
}
/*播放控制按钮的样式*/
/*歌曲信息的样式*/
.song-info-txt{
    text-align: center;
    font-size: 14px;
    color: #ccc;
    line-height: 40px;
}
/*歌曲信息的样式*/
/*歌曲封面的样式*/
.poster-box img{
    display: block;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin: 0 auto;
}
/*歌曲封面的样式*/
/**************播放动画***************/
@-webkit-keyframes rotateRound {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotateRound {
    0% {-moz-transform: rotate(0deg);}
    100% {-moz-transform: rotate(360deg);}
}
@keyframes rotateRound {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
.playing{
    -moz-animation: rotateRound 20s linear infinite;
    -webkit-animation: rotateRound 20s linear infinite;
    animation: rotateRound 20s linear infinite;

}

.music-list-body table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    color: #ccc;
    font-size: 12px;
}
.music-list-body table td,.music-list-body table th{
    text-align: left;
    line-height: 28px;
    padding: 0 10px;
    cursor: pointer;
}
.music-list-body table tbody tr:hover td{
    background-color: #1b1b1b;
}
.music-list-title{
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    font-size: 14px;
    color: #ccc;
    font-weight: bold;
    border-bottom: 1px solid #1b1b1b;
}
.music-list-box{
    height: 330px;
    overflow-y: auto;
}
/*滑动时间的样式*/
.slider-bar{
    height:4px;
    width: 100%;
    background-color: #6d6d6d;
    border-radius: 2px;
}
.slider-progress{
    position: relative;
    height: 100%;
    width: 0;
    background-color: #ff7471;
    border-radius: 2px;
}
.slider-dot-control{
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    left: 100%;
    background-color: #ff7471;
    border: 6px solid #fff;
    top: 50%;
    margin-top: -9px;
    margin-left: -9px;
}
/*滑动时间的样式*/
/*播放时间的样式*/
.played-progress,.all-progress{
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0 10px;
    font-size: 14px;
}
.content-box{
    display: flex;
    height: 20px;
    color: #eee;
    margin-top: 20px;
}
.center-box{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.left-box{
    width: 100px;
    height: 100%;
    text-align: center;
    font-size: 14px;
}
.right-box{
    width: 100px;
    height: 100%;
    text-align: center;
    font-size: 14px;
}
/*播放时间的样式*/
/*播放控制按钮的样式*/
.control-box{
    color: #ccc;
    display: flex;
    align-items: center;
    height: 40px;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 20px;
}


.bg {
    background: url("../image/bg.jpeg") no-repeat fixed;
    width:100%;
    height:100%;
    background-size:100% 100%;
    text-align: center;
    line-height: 600px;
}
.bg-blur {
    float: left;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

